.architecture-page {

}

.architecture-detail-page {
  &__content {
    margin-top: 20px;
  }

  .date-post {
    list-style: none;
    display: flex;
    padding-left: 0;
    color: #84807d;
    margin-bottom: 25px;

    li {
      border-right: 1px solid #ccc;
      padding-right: 10px;
      margin-right: 10px;
      margin-left: 0;
      list-style: inherit;

      &:last-child {
        border-right: 0;
      }
    }
  }

  .article-content {
    img {
      max-width: 100%;
      object-fit: contain;
    }

    ul {
      margin-left: 15px;
    }

    p {
      display: flex;
      justify-content: center;
    }
  }

  .video {
    display: flex;
    justify-content: center;

    iframe {
      width: 100%;
      height: calc(100vw * 0.5625);
    }
  }

  .commitment,
  .video {
    border-top: 1px solid #ccc;
    padding: 30px 0;
    margin-top: 40px;
    padding-bottom: 0;

    .title {
      font-size: 20px;
      font-weight: 300;
      font-style: italic;
    }

    ol {
      margin-left: 30px;
      margin-bottom: 20px;
    }
  }
}

@media (min-width: 992px) {
  .architecture-detail-page {
    .video {
      iframe {
        max-width: 854px;
        height: 480px;
      }
    }
  }
}