@import "./variables";

.content {
  margin-top: $header-height;
  padding: 0 15px;
  padding-bottom: 60px;
  // min-height: calc(100vh - #{$header-height}) !important;
}

@media (min-width: 992px) {
  .content {
    padding: 0 50px;
    padding-bottom: 60px;
  }
}
