@import "./variables";

.footer {
  background-color: #202020 !important;
  color: #fff !important;
  font-size: 16px !important;
  padding: 30px 10px !important;

  span {
    display: inline-block;
    width: 130px;
  }

  p {
    line-height: 2;
    margin-bottom: 0;
  }

  a {
    color: #fff;
    text-decoration: none;
    cursor: pointer;
  }

  .follow {
    margin-top: 30px;
    text-align: center;

    &__social {
      margin-top: 20px;

      a:hover {
        color: $gold;
      }

      a {
        &:last-child {
          i {
            margin-right: 0;
          }
        }
      }

      &__icon {
        font-size: 36px;
        margin-right: 50px;
      }
    }
  }
}

@media (min-width: 992px) {
  .footer {
    padding: 30px 50px !important;

    .follow {
      text-align: left;
      margin-top: 0;
    }
  }
}
