@import "./variables";

.header {
  height: $header-height;
  background: #fff !important;
  display: flex;
  position: fixed;
  z-index: 99;
  width: 100%;

  .logo {
    float: left;

    img {
      height: 60px;
      position: relative;
      top: -1px;
    }
  }

  .ant-menu {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    border-bottom: none;

    .ant-menu-item {
      text-transform: uppercase;
      font-weight: 300;
      border-bottom: 0;
      position: relative;
      transform: translateZ(0);
      transition: all 0.3s ease-in-out;

      &::before {
        content: '';
        position: absolute;
        width: 0;
        height: 2px;
        background-color: #FFD700;
        bottom: 7px;
        left: 50%;
        transform: translateX(-50%);
        transition-property: width;
        transition-duration: 0.3s;
        transition-timing-function: ease-out;
      }

      &:hover {
        color: unset;
        border-bottom: 0;

        &::before {
          width: 20px;
        }
      }

      &.ant-menu-item-selected {
        font-weight: 700;
        color: #595959;

        &::before {
          width: 20px;
        }
      }
    }
  }
}