.hotline {
  position: fixed;
  bottom: 15px;
  left: 15px;
  z-index: 999;
  display: flex;
  align-items: center;

  &__icon-container {
    width: 56px;
    height: 56px;
    border-radius: 50%;
    background-color: white;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 1;
  }

  &__icon {
    width: 50px;
    height: 50px;
  }

  &__content {
    display: none;
  }

  &__label {

  }

  &__phone {
    font-size: 28px;
    color: white;
    font-weight: 900;
  }
}

@media (min-width: 992px) {
  .hotline {
    bottom: 30px;
    left: 30px;

    &__icon-container {
      width: 66px;
      height: 66px;
    }

    &__icon {
      width: 60px;
      height: 60px;
    }

    &__content {
      display: block;
      position: relative;
      left: -33px;
      padding-left: 48px;
      background-color: #06b0c1;
      padding-right: 15px;
      border-radius: 25px;
      height: 50px;
      line-height: 50px;
    }
  }
}