.main-title {
  font-size: 22px;
  font-weight: 600;
  text-transform: uppercase;
}

.text-white {
  color: #fff !important;
}

.uppercase {
  text-transform: uppercase !important;
}

.fw-300 {
  font-weight: 300 !important;
}